*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: sans-serif;
  padding: 30px 0
}

h2 {
  float: left;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  top: 30px;
  left: 30px;
}

.preview { /***Cities***/
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 300px;
  margin: 10px 0;
  width: 100%;
}

.baku {
  background-image: url("../images/baku.jpg");
}

.london {
  background-image: url("../images/london.png")
}

.madrid {
  background-image: url("../images/madrid.jpg")
}

.rome {
  background-image: url("../images/rome.jpg")
}

@media screen and (min-width: 575px) {
  .preview {
    width: 45%;
    margin: 10px;
  }
}

@media screen and (min-width: 991px) {
  .preview {
    width: 20%;
    margin: 10px;
  }
}
